common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 (http://www.altova.com) by Dan Thomas (DC Department of Human Services DCAS Project) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" xmlns="http://openhbx.org/api/terms/1.0" targetNamespace="http://openhbx.org/api/terms/1.0" elementFormDefault="qualified" version="1.0" vc:minVersion="1.1">
	<xs:complexType name="PersonType">
		<xs:annotation>
			<xs:documentation>Name and contact information for an individual</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name_prefix" type="xs:string" minOccurs="0"/>
			<xs:element name="name_first" type="xs:string"/>
			<xs:element name="name_middle" type="xs:string" minOccurs="0"/>
			<xs:element name="name_last" type="xs:string"/>
			<xs:element name="name_suffix" type="xs:string" minOccurs="0"/>
			<xs:element name="name_full" type="xs:string" minOccurs="0"/>
			<xs:element name="job_title" type="xs:string" minOccurs="0"/>
			<xs:element name="department" type="xs:string" minOccurs="0"/>
			<xs:element name="addresses" type="AddressType" maxOccurs="unbounded"/>
			<xs:element name="emails" type="EmailType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="phones" type="PhoneType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AddressType">
		<xs:annotation>
			<xs:documentation>Street or mailing address</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="address_type">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="billing"/>
						<xs:enumeration value="home"/>
						<xs:enumeration value="work"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="address_1" type="xs:string"/>
			<xs:element name="address_2" type="xs:string" minOccurs="0"/>
			<xs:element name="city" type="xs:string"/>
			<xs:element name="state" type="xs:string"/>
			<xs:element name="postal_code" type="xs:string"/>
			<xs:element name="country_code" type="xs:string" minOccurs="0"/>
			<xs:element name="coordinates" type="PositionPointType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PhoneType">
		<xs:annotation>
			<xs:documentation>Telephone communication number and kind</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="phone_type">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="home"/>
						<xs:enumeration value="work"/>
						<xs:enumeration value="mobile"/>
						<xs:enumeration value="pager"/>
						<xs:enumeration value="main"/>
						<xs:enumeration value="extension"/>
						<xs:enumeration value="other"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="phone_number" type="TelephoneNumberType"/>
			<xs:element name="extension" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EmailType">
		<xs:annotation>
			<xs:documentation>Email communication address and kind</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="email_type">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="home"/>
						<xs:enumeration value="work"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="email_address" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PositionPointType">
		<xs:annotation>
			<xs:documentation>Location cooordinate expressed as a GeoJSON Point.  See: http://www.geojson.org/geojson-spec.html#positions</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="x" type="xs:float"/>
			<xs:element name="y" type="xs:float"/>
			<xs:element name="z" type="xs:float" minOccurs="0"/>
			<xs:element name="coordinate_system_reference" type="xs:anyURI" default=" urn:ogc:def:crs:EPSG::4326"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SimpleDateRangeType">
		<xs:annotation>
			<xs:documentation>Time period expressed in SimpleDateType format</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="start" type="SimpleDateType"/>
			<xs:element name="end" type="SimpleDateType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="KeyValuePairType">
		<xs:annotation>
			<xs:documentation>Data structure that includes a label and associated attribute value</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="key" type="xs:string"/>
			<xs:element name="value" type="xs:anyType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HashType">
		<xs:annotation>
			<xs:documentation>An array of one or more KeyValueType pairs</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="key_value_pair" type="KeyValuePairType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:group name="HbxIdentifierGroup">
		<xs:annotation>
			<xs:documentation>Identifier pair for a single Exchange resource in both enterprise URI and local service form</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="hbx_uri" type="xs:anyURI">
				<xs:annotation>
					<xs:documentation>Enterprise/globally unique identifier for this resource</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hbx_id" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:group>
	<xs:element name="resource_instance_uri" abstract="true">
		<xs:annotation>
			<xs:documentation>Dereferenceable resource identifier</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="other_resource_instance_uri" abstract="true">
		<xs:annotation>
			<xs:documentation>Optional, additional dereferenceable resource identifier(s)</xs:documentation>
		</xs:annotation>
	</xs:element>
  <xs:element name="event_name" type="xs:anyURI">
	  <xs:annotation>
		  <xs:documentation>Uniform Resource Name (URN) for this event, e.g.; urn:dc0:events:individual#added</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="EventType">
		<xs:annotation>
			<xs:documentation>Base type to publish resource events to message systems</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="hbx_id" type="xs:string">
				<xs:annotation>
					<xs:documentation>CMS-assigned Health Benefit Exchange identifier, e.g. DC0</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="event_name"/>
			<xs:element ref="resource_instance_uri"/>
			<xs:element ref="other_resource_instance_uri" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="sender_uri" type="xs:anyURI">
				<xs:annotation>
					<xs:documentation>Uniform Resource Name (URN) for service or source that raised event, e.g. urn:dc0:services:connecture</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="submitted_timestamp" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>When event occured in UTC</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="application_header_properties" type="KeyValuePairType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Application-specific header key/value pairs</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EnrollmentStatusType">
		<xs:annotation>
			<xs:documentation>An Application Group's enrollment status at a given period of time</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="event_id">
				<xs:annotation>
					<xs:documentation>Dereferenceable event identifier that triggered enrollment state</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="state">
				<xs:annotation>
					<xs:documentation>Status of enrollment</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="open"/>
						<xs:enumeration value="closed"/>
						<xs:enumeration value="special enrollment period"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="time_period">
				<xs:annotation>
					<xs:documentation>Enrollment state start and end dates</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="TelephoneNumberType">
		<xs:annotation>
			<xs:documentation>US Telephone number format. Matches: (999)999-9999, 9999999999, 999-999-9999</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="^\(\d{3}\) ?\d{3}( |-)?\d{4}|^\d{3}( |-)?\d{3}( |-)?\d{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SimpleDateType">
		<xs:annotation>
			<xs:documentation>A simple date format: CCYYMMDD, e.g. 20140601</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="([1-9][0-9]{3})(0[1-9]|1[0-2])(0[1-9]|[12][0-9]|3[01])"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FederalTaxIdType">
		<xs:annotation>
			<xs:documentation>IRS-assigned Identifier for an individual or organization. Matches: 01-1234567, 011234567, 123-45-6789</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9]{3}-[0-9]{2}-[0-9]{4})|([0-9]{9})|([0-9]{2}-[0-9]{7})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CurrencyType">
		<xs:annotation>
			<xs:documentation>Monetary value. Positive and negative values are valid</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LanguageType">
		<xs:annotation>
			<xs:documentation>Language expressed in ISO 639-1 standard, e.g. en = English, es = Spanish</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="GenderType">
		<xs:annotation>
			<xs:documentation>Identification of an individual as masculine or feminine</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="male"/>
			<xs:enumeration value="female"/>
			<xs:enumeration value="unknown"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EntityIdentifierType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="case manager"/>
			<xs:enumeration value="key person"/>
			<xs:enumeration value="parent"/>
			<xs:enumeration value="responsible party"/>
			<xs:enumeration value="guardian"/>
			<xs:enumeration value="ex-spouse"/>
			<xs:enumeration value="significant other"/>
			<xs:enumeration value="legal representative"/>
			<xs:enumeration value="power of attorney"/>
			<xs:enumeration value="other insured"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EmploymentStatusType">
		<xs:annotation>
			<xs:documentation>Required for subscriber. For SHOP market, use employment status code. For individual market, use only active or terminated</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="active"/>
			<xs:enumeration value="full time"/>
			<xs:enumeration value="part time"/>
			<xs:enumeration value="terminated"/>
			<xs:enumeration value="leave of absence"/>
			<xs:enumeration value="retired"/>
			<xs:enumeration value="active military overseas"/>
			<xs:enumeration value="active military usa"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BenefitStatusType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="active"/>
			<xs:enumeration value="cobra"/>
			<xs:enumeration value="surviing insured"/>
			<xs:enumeration value="tefra"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MaritalStatusType">
		<xs:annotation>
			<xs:documentation>Matrimonial relationship state between two individuals</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="single"/>
			<xs:enumeration value="married"/>
			<xs:enumeration value="domestic partnership"/>
			<xs:enumeration value="separated"/>
			<xs:enumeration value="legally seperated"/>
			<xs:enumeration value="divorced"/>
			<xs:enumeration value="widowed"/>
			<xs:enumeration value="unknown"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RelationshipType">
		<xs:annotation>
			<xs:documentation>Interpersonal relationship state between connected individuals</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="head of household"/>
			<xs:enumeration value="self"/>
			<xs:enumeration value="spouse"/>
			<xs:enumeration value="father"/>
			<xs:enumeration value="mother"/>
			<xs:enumeration value="grandfather"/>
			<xs:enumeration value="grandmother"/>
			<xs:enumeration value="grandson"/>
			<xs:enumeration value="granddaughter"/>
			<xs:enumeration value="uncle"/>
			<xs:enumeration value="aunt"/>
			<xs:enumeration value="nephew"/>
			<xs:enumeration value="niece"/>
			<xs:enumeration value="cousin"/>
			<xs:enumeration value="adopted child"/>
			<xs:enumeration value="foster child"/>
			<xs:enumeration value="son-in-law"/>
			<xs:enumeration value="daughter-in-law"/>
			<xs:enumeration value="brother-in-law"/>
			<xs:enumeration value="sister-in-law"/>
			<xs:enumeration value="father-in-law"/>
			<xs:enumeration value="mother-in-law"/>
			<xs:enumeration value="brother"/>
			<xs:enumeration value="sister"/>
			<xs:enumeration value="ward"/>
			<xs:enumeration value="stepparent"/>
			<xs:enumeration value="stepson"/>
			<xs:enumeration value="stepdaughter"/>
			<xs:enumeration value="child"/>
			<xs:enumeration value="sponsored dependent"/>
			<xs:enumeration value="dependent of a minor dependent"/>
			<xs:enumeration value="ex-spouse"/>
			<xs:enumeration value="guardian"/>
			<xs:enumeration value="court appointed guardian"/>
			<xs:enumeration value="collateral dependent"/>
			<xs:enumeration value="life partner"/>
			<xs:enumeration value="female"/>
			<xs:enumeration value="unknown"/>
		</xs:restriction>
	</xs:simpleType>
					<xs:simpleType name="SpecialEnrollmentPeriodType">
					<xs:restriction base="xs:string">
						<xs:enumeration value="initial enrollment"/>
						<xs:enumeration value="birth"/>
						<xs:enumeration value="death"/>
						<xs:enumeration value="adoption"/>
						<xs:enumeration value="marriage"/>
						<xs:enumeration value="location change"/>
						<xs:enumeration value="termination of benefits"/>
						<xs:enumeration value="non payment"/>
						<xs:enumeration value="employment termination"/>
						<xs:enumeration value="citizenship granted"/>
						<xs:enumeration value="enrollment error"/>
						<xs:enumeration value="contract violation"/>
						<xs:enumeration value="eligibility change"/>
						<xs:enumeration value="qualified native american"/>
						<xs:enumeration value="non-hbx misconduct"/>
						<xs:enumeration value="enrollment grace period"/>
						<xs:enumeration value="medicaid ineligible"/>

						<xs:enumeration value="legal separation"/>
						<xs:enumeration value="surviving spouse"/>
						<xs:enumeration value="divorce"/>
						<xs:enumeration value="retirement"/>
						<xs:enumeration value="re-enrollment"/>
					</xs:restriction>
				</xs:simpleType>
									<xs:simpleType name="MaintenanceReasonType">
					<xs:restriction base="xs:string">
						<xs:enumeration value="initial enrollment"/>
						<xs:enumeration value="benefit selection"/>
						<xs:enumeration value="plan change"/>
						<xs:enumeration value="change in identifying data elements"/>
												<xs:enumeration value="birth"/>
						<xs:enumeration value="death"/>
						<xs:enumeration value="adoption"/>
						<xs:enumeration value="marriage"/>
						<xs:enumeration value="location change"/>
						<xs:enumeration value="termination of benefits"/>
						<xs:enumeration value="non payment"/>
						<xs:enumeration value="employment termination"/>
</xs:restriction></xs:simpleType>
</xs:schema>
