employer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 (http://www.altova.com) by Dan Thomas (DC Department of Human Services DCAS Project) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://openhbx.org/api/terms/1.0" targetNamespace="http://openhbx.org/api/terms/1.0" elementFormDefault="qualified">
	<xs:include schemaLocation="common.xsd"/>
	<xs:include schemaLocation="individual.xsd"/>
	<xs:element name="employer" type="EmployerIndexType">
		<xs:annotation>
			<xs:documentation>SHOP employer instance</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="employer_uri" type="xs:anyURI" substitutionGroup="resource_instance_uri">
		<xs:annotation>
			<xs:documentation>Dereferenceable identifier for employer instance, e.g. http://dchealthlink.com/api/services/employer/_id</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="employer_event" type="EmployerEventType">
		<xs:annotation>
			<xs:documentation>SHOP employer event instance</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="employer_group" type="EmployerGroupType">
		<xs:annotation>
			<xs:documentation>SHOP employer group (demographic) instance</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="employer_employee" type="EmployerEmployeeType"/>
	<xs:element name="employer_request" type="EmployerRequestType"/>
	<xs:element name="employer_employee_event" type="EmployerEmployeeEventType">
		<xs:annotation>
			<xs:documentation>SHOP employee event instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="EmployerRequestType">
		<xs:annotation>
			<xs:documentation>Service call to employer resource</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="RequestType">
				<xs:sequence>
					<xs:element ref="hbx_id"/>
					<xs:element name="request_name" type="EmployerRequestNameType"/>
					<xs:element ref="correlation_id" minOccurs="0"/>
					<xs:element ref="message_id" minOccurs="0"/>
					<xs:element name="reply_to" type="xs:anyURI">
						<xs:annotation>
							<xs:documentation>Designates the consumer service urn endpoint where to transmit response</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="parameters" type="HashType"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="EmployerRequestNameType">
		<xs:annotation>
			<xs:documentation>Request methods for SHOP employer resource</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:anyURI">
			<xs:enumeration value="urn:openhbx:requests:v1:employers"/>
			<xs:enumeration value="urn:openhbx:requests:v1:employers#by_id"/>
			<xs:enumeration value="urn:openhbx:requests:v1:employers#create"/>
			<xs:enumeration value="urn:openhbx:requests:v1:employers#update"/>
			<xs:enumeration value="urn:openhbx:requests:v1:employers#delete"/>
			<xs:enumeration value="urn:openhbx:requests:v1:employers#terminate">
				<xs:annotation>
					<xs:documentation>Transition an employer's status on the Exchange to terminated</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="urn:openhbx:requests:v1:employers#reinstate">
				<xs:annotation>
					<xs:documentation>Transition an employer's status on the Exchange from terminated to active</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="urn:openhbx:requests:v1:employers#add_broker"/>
			<xs:enumeration value="urn:openhbx:requests:v1:employers#remove_broker"/>
			<xs:enumeration value="urn:openhbx:requests:v1:employers#enrollment">
				<xs:annotation>
					<xs:documentation>Provides a list of actively enrolled employees</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="urn:openhbx:requests:v1:employers#assign_carrier_group">
				<xs:annotation>
					<xs:documentation>Sets the carrier-assigned group identifier for this employer</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="urn:openhbx:requests:v1:employers#open_enrollment">
				<xs:annotation>
					<xs:documentation>Transition employer enrollment status to open</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="urn:openhbx:requests:v1:employers#close_enrollment">
				<xs:annotation>
					<xs:documentation>Change employer enrollment status to closed</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="urn:openhbx:requests:v1:employers#initiate_premium_payment">
				<xs:annotation>
					<xs:documentation>Start a premium payment transaction</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="urn:openhbx:requests:v1:employers#advance_coverage_period">
				<xs:annotation>
					<xs:documentation>Allocate premium paid balance sufficient to fund additional coverage period</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="urn:openhbx:requests:v1:employers#reverse_coverage_period">
				<xs:annotation>
					<xs:documentation>Debit premium paid balance due to refund, Non-Sufficient Funds (NSF) or other reversal</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="urn:openhbx:requests:v1:employers#remit_payment"/>
			<xs:enumeration value="urn:openhbx:requests:v1:employers#binder_premium_amount_due">
				<xs:annotation>
					<xs:documentation>Provide total premium amount due for an employer's first payment</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="urn:openhbx:requests:v1:employers#premium_amount_due">
				<xs:annotation>
					<xs:documentation>Provide total premium amount due for an employer's current payment</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="urn:openhbx:requests:v1:employers#nfp_employer_premium_payment"/>
			<xs:enumeration value="urn:openhbx:requests:v1:employers#nfp_get_dashboard_data"/>
			<xs:enumeration value="urn:openhbx:requests:v1:employers#nfp_get_customer_statements"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="EmployerEventType">
		<xs:annotation>
			<xs:documentation>Message structure for SHOP employer event</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="EventType">
				<xs:sequence>
					<xs:element name="hbx_id" type="xs:string">
						<xs:annotation>
							<xs:documentation>CMS-assigned Health Benefit Exchange identifier, e.g. DC0</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="event_name">
						<xs:annotation>
							<xs:documentation>URN for this event, e.g.; urn:openhbx:events:v1:individual#created</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="employer_uri"/>
					<xs:element name="authorization">
						<xs:annotation>
							<xs:documentation>Authentication/authorization credentials</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sender_uri" type="xs:anyURI">
						<xs:annotation>
							<xs:documentation>URN for service or source that raised event</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="submitted_timestamp" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation>UTC date and time when event occured</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="EmployerEventNameType">
		<xs:annotation>
			<xs:documentation>Global event types for SHOP employer</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:anyURI">
			<xs:enumeration value="urn:openhbx:events:v1:employers#created"/>
			<xs:enumeration value="urn:openhbx:events:v1:employers#updated"/>
			<xs:enumeration value="urn:openhbx:events:v1:employers#deleted"/>
			<xs:enumeration value="urn:openhbx:events:v1:employers#terminated"/>
			<xs:enumeration value="urn:openhbx:events:v1:employers#reinstated"/>
			<xs:enumeration value="urn:openhbx:events:v1:employers#broker_added"/>
			<xs:enumeration value="urn:openhbx:events:v1:employers#broker_removed"/>
			<xs:enumeration value="urn:openhbx:events:v1:employers#enrollment_opened"/>
			<xs:enumeration value="urn:openhbx:events:v1:employers#enrollment_closed"/>
			<xs:enumeration value="urn:openhbx:events:v1:employers#carrier_group_assigned"/>
			<xs:enumeration value="urn:openhbx:events:v1:employers#payment_initiated"/>
			<xs:enumeration value="urn:openhbx:events:v1:employers#coverage_period_advanced"/>
			<xs:enumeration value="urn:openhbx:events:v1:employers#coverage_period_reversed"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="EmployerType">
		<xs:annotation>
			<xs:documentation>Response body for SHOP employer instance</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="ItemResponseType">
				<xs:sequence>
					<xs:element name="status" type="ResponseStatusType"/>
					<xs:element ref="employer" minOccurs="0"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EmployerListType">
		<xs:annotation>
			<xs:documentation>Response body for summary employer set request</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="SetResponseType">
				<xs:sequence>
					<xs:element name="employers">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="employer" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EmployerIndexType">
		<xs:annotation>
			<xs:documentation>Summary-level emplioyer attributes</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name" type="xs:string">
				<xs:annotation>
					<xs:documentation>Employer name in free-form text</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="fein"/>
			<xs:group ref="HbxIdentifierGroup"/>
			<xs:element ref="sic_code" minOccurs="0"/>
			<xs:element ref="fte_count"/>
			<xs:element ref="pte_count"/>
			<xs:element ref="open_enrollment_start"/>
			<xs:element ref="open_enrollment_end"/>
			<xs:element ref="plan_year_start"/>
			<xs:element ref="plan_year_end" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EmployerDetailType">
		<xs:annotation>
			<xs:documentation>Instance-level employer attributes</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name" type="xs:string">
				<xs:annotation>
					<xs:documentation>Employer name in free-form text</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="fein"/>
			<xs:group ref="HbxIdentifierGroup"/>
			<xs:element ref="sic_code" minOccurs="0"/>
			<xs:element ref="fte_count"/>
			<xs:element ref="pte_count"/>
			<xs:element name="broker" type="EmployerBrokerType" minOccurs="0"/>
			<xs:element ref="open_enrollment_start"/>
			<xs:element ref="open_enrollment_end"/>
			<xs:element ref="plan_year_start"/>
			<xs:element ref="plan_year_end" minOccurs="0"/>
			<xs:element name="plans" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="plan" type="EmployerPlanListType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="contacts">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="contact" type="PersonType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="notes" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EmployerEmployeeRequestType">
		<xs:annotation>
			<xs:documentation>Service call to employee resource</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="RequestType">
				<xs:sequence>
					<xs:element ref="hbx_id"/>
					<xs:element name="request_name" type="EmployerEmployeeRequestNameType"/>
					<xs:element ref="correlation_id"/>
					<xs:element ref="message_id" minOccurs="0"/>
					<xs:element name="reply_to" type="xs:anyURI" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Designates the consumer service urn endpoint where to transmit response</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="parameters" type="HashType"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="EmployerEmployeeRequestNameType">
		<xs:annotation>
			<xs:documentation>Request methods for SHOP employee resource</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:anyURI">
			<xs:enumeration value="urn:openhbx:requests:v1:employers_employees"/>
			<xs:enumeration value="urn:openhbx:requests:v1:employers_employees#by_id"/>
			<xs:enumeration value="urn:openhbx:requests:v1:employers_employees#create"/>
			<xs:enumeration value="urn:openhbx:requests:v1:employers_employees#update"/>
			<xs:enumeration value="urn:openhbx:requests:v1:employers_employees#delete"/>
			<xs:enumeration value="urn:openhbx:requests:v1:employers_employees#terminate_employment"/>
			<xs:enumeration value="urn:openhbx:requests:v1:employers_employees#effectuate"/>
			<xs:enumeration value="urn:openhbx:requests:v1:employers_employees#start_sep"/>
			<xs:enumeration value="urn:openhbx:requests:v1:employers_employees#end_sep"/>
			<xs:enumeration value="urn:openhbx:requests:v1:employers_employees#withdraw_qhp"/>
			<xs:enumeration value="urn:openhbx:requests:v1:employers_employees#select_qhp"/>
			<xs:enumeration value="urn:openhbx:requests:v1:employers_employees#change_qhp"/>
			<xs:enumeration value="urn:openhbx:requests:v1:employers_employees#terminate_qhp"/>
			<xs:enumeration value="urn:openhbx:requests:v1:employers_employees#cancel_qhp"/>
			<xs:enumeration value="urn:openhbx:requests:v1:employers_employees#reinstate"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="EmployerEmployeeEventType">
		<xs:annotation>
			<xs:documentation>Message structure for SHOP employee event</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="EventType">
				<xs:sequence>
					<xs:element name="hbx_id" type="xs:string"/>
					<xs:element name="event_name" type="EmployerEmployeeEventNameType"/>
					<xs:element name="qualifying_reason" type="SpecialEnrollmentPeriodType"/>
					<xs:element ref="employer_employee_uri"/>
					<xs:element ref="enrollment_group_uri"/>
					<xs:element name="authorization">
						<xs:annotation>
							<xs:documentation>Authentication/authorization credentials</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sender_uri" type="xs:anyURI">
						<xs:annotation>
							<xs:documentation>URN for service or source that raised event</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="submitted_timestamp" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation>UTC date and time when event occured</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="EmployerEmployeeEventNameType">
		<xs:annotation>
			<xs:documentation>Global event types for SHOP employee</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:anyURI">
			<xs:enumeration value="urn:openhbx:events:v1:employers_employees#created"/>
			<xs:enumeration value="urn:openhbx:events:v1:employers_employees#updated"/>
			<xs:enumeration value="urn:openhbx:events:v1:employers_employees#deleted"/>
			<xs:enumeration value="urn:openhbx:events:v1:employers_employees#qhp_selected"/>
			<xs:enumeration value="urn:openhbx:events:v1:employers_employees#qhp_withdrawn"/>
			<xs:enumeration value="urn:openhbx:events:v1:employers_employees#qhp_effectuated"/>
			<xs:enumeration value="urn:openhbx:events:v1:employers_employees#qhp_canceled"/>
			<xs:enumeration value="urn:openhbx:events:v1:employers_employees#qhp_terminated"/>
			<xs:enumeration value="urn:openhbx:events:v1:employers_employees#sep_started"/>
			<xs:enumeration value="urn:openhbx:events:v1:employers_employees#sep_ended"/>
			<xs:enumeration value="urn:openhbx:events:v1:employers_employees#employment_terminated"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="EmployerEmployeeType">
		<xs:annotation>
			<xs:documentation>Response body for employee instance</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="employee" type="IndividualType"/>
			<xs:element name="employee_role" type="EmployeeRoleType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EmployerEmployeeListType">
		<xs:annotation>
			<xs:documentation>Response body for summary employee set request </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="SetResponseType">
				<xs:sequence>
					<xs:element name="employers_employees">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="employer_employee" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EmployerPlanListType">
		<xs:annotation>
			<xs:documentation>SHOP employer-selected benefits model</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name" type="xs:string">
				<xs:annotation>
					<xs:documentation>Carrier-assigned text label for plan </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hbx_plan_id" type="xs:string">
				<xs:annotation>
					<xs:documentation>HBX-assigned plan identifier</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qhp_id" type="xs:string">
				<xs:annotation>
					<xs:documentation>HIOS plan identifier component + subcomponent</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="employer_request_name" type="EmployerRequestNameType">
				<xs:annotation>
					<xs:documentation>???</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="carrier_name" type="xs:string">
				<xs:annotation>
					<xs:documentation>Text label for plan provider</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="carrier_urn" type="xs:anyURI">
				<xs:annotation>
					<xs:documentation>HBX-assigned carrier identifier</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="policy_number" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Carrier-assigned policy number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="group_id" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Carrier-assigned employer group identifier</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="coverage_type" type="BenefitCoverageType">
				<xs:annotation>
					<xs:documentation>Benefit type, e.g. health or dental</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="original_effective_date" type="xs:date">
				<xs:annotation>
					<xs:documentation>Effective date coverage under this plan may begin</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="metal_level_code" type="PlanMetalLevelType">
				<xs:annotation>
					<xs:documentation>ACA actuarial level for plan</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EmployerBrokerType">
		<xs:annotation>
			<xs:documentation>Model for SHOP employer-designated broker</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="npn">
				<xs:annotation>
					<xs:documentation>Broker National Producer Number (NPN) identifier</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="tpa_ga_fein" type="FederalTaxIdType" minOccurs="0"/>
			<xs:element name="broker_name" type="xs:string">
				<xs:annotation>
					<xs:documentation>Broker or organization name in free-form text</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tpa_name" minOccurs="0">
				<xs:annotation>
					<xs:documentation>TPA or organization name in free-form text</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EmployerGroupType">
		<xs:annotation>
			<xs:documentation>Model for SHOP employer and designated benefit options</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="employer"/>
			<xs:element name="plans">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="plan" type="EmployerPlanListType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="enrollment_group_uri" type="xs:anyURI" substitutionGroup="extended_resource_instance_uri">
		<xs:annotation>
			<xs:documentation>Dereferenceable identifier for enrollment group instance, e.g. http://dchealthlink.com/api/services/enrollment_group/_id</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="employer_employee_uri" type="xs:anyURI" substitutionGroup="resource_instance_uri">
		<xs:annotation>
			<xs:documentation>Dereferenceable identifier for employee instance, e.g. http://dchealthlink.com/api/services/employer/_id/employee/_id</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="sic_code" type="xs:string">
		<xs:annotation>
			<xs:documentation>Employer's Standard Industrial Code (SIC)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fte_count" type="xs:integer">
		<xs:annotation>
			<xs:documentation>Number of full-time-employees</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="pte_count" type="xs:integer" default="0">
		<xs:annotation>
			<xs:documentation>Number of part-time employees</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="broker" type="EmployerBrokerType"/>
	<xs:element name="fein" type="FederalTaxIdType">
		<xs:annotation>
			<xs:documentation>Federal Employer Identification Number</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="open_enrollment_start" type="xs:date">
		<xs:annotation>
			<xs:documentation>Open Enrollment period start date</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="open_enrollment_end" type="xs:date">
		<xs:annotation>
			<xs:documentation>Open Enrollment period end date</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="plan_year_start" type="xs:date">
		<xs:annotation>
			<xs:documentation>Date Employer plan eligibility begins</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="plan_year_end" type="xs:date">
		<xs:annotation>
			<xs:documentation>Date employer plan eligibility ends</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
