employer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 (http://www.altova.com) by Dan Thomas (DC Department of Human Services DCAS Project) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://openhbx.org/api/terms/1.0" targetNamespace="http://openhbx.org/api/terms/1.0" elementFormDefault="qualified">
	<xs:include schemaLocation="common.xsd"/>
	<xs:include schemaLocation="individual.xsd"/>
	<xs:element name="employer" type="EmployerType">
		<xs:annotation>
			<xs:documentation>SHOP employer instance</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="employer_group" type="EmployerGroupType">
		<xs:annotation>
			<xs:documentation>SHOP employer group (demographic) instance</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="employer_event" type="EmployerEventType">
		<xs:annotation>
			<xs:documentation>SHOP employer event instance</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="employer_employee_event" type="EmployerEmployeeEventType">
		<xs:annotation>
			<xs:documentation>SHOP employee event instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="EmployerType">
		<xs:annotation>
			<xs:documentation>Model for SHOP employer</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name" type="xs:string">
				<xs:annotation>
					<xs:documentation>Employer name in free-form text</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fein" type="FederalTaxIdType"/>
			<xs:element name="contacts">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="contact" type="PersonType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:group ref="HbxIdentifierGroup"/>
			<xs:element name="sic_code" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Employer's Standard Industrial Code (SIC)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fte_count" type="xs:integer">
				<xs:annotation>
					<xs:documentation>Number of full-time-employees</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pte_count" type="xs:integer" default="0">
				<xs:annotation>
					<xs:documentation>Number of part-time employees</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="employee_list" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="employee" type="EmployerEmployeeListType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="plan_list" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="plan" type="EmployerPlanListType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="broker" type="EmployerBrokerType" minOccurs="0"/>
			<xs:element name="open_enrollment_start" type="xs:date">
				<xs:annotation>
					<xs:documentation>Open Enrollment period start date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="open_enrollment_end" type="xs:date">
				<xs:annotation>
					<xs:documentation>Open Enrollment period end date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="plan_year_start" type="xs:date">
				<xs:annotation>
					<xs:documentation>Date Employer plan eligibility begins</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="plan_year_end" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date employer plan eligibility ends</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="notes" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EmployerListType"/>
	<xs:complexType name="EmployerEventType">
		<xs:annotation>
			<xs:documentation>Message structure for SHOP employer event</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="EventType">
				<xs:sequence>
					<xs:element name="hbx_id" type="xs:string">
						<xs:annotation>
							<xs:documentation>CMS-assigned Health Benefit Exchange identifier, e.g. DC0</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="event_name">
						<xs:annotation>
							<xs:documentation>URN for this event, e.g.; urn:openhbx:event:individual#created</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="employer_uri"/>
					<xs:element name="authorization">
						<xs:annotation>
							<xs:documentation>Authentication/authorization credentials</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sender_uri" type="xs:anyURI">
						<xs:annotation>
							<xs:documentation>URN for service or source that raised event</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="submitted_timestamp" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation>UTC date and time when event occured</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EmployerEmployeeType">
		<xs:sequence>
			<xs:element name="name" type="NameType"/>
			<xs:element name="role" type="EmployeeRoleType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EmployerEmployeeListType">
		<xs:sequence>
			<xs:element name="name" type="NameType"/>
			<xs:element name="identifier" type="EmployeeRoleType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EmployerEmployeeEventType">
		<xs:annotation>
			<xs:documentation>Message structure for SHOP employee event</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="EventType">
				<xs:sequence>
					<xs:element name="hbx_id" type="xs:string"/>
					<xs:element name="event_name" type="EmployerEmployeeEventNameType"/>
					<xs:element name="qualifying_reason" type="SpecialEnrollmentPeriodType"/>
					<xs:element ref="employer_employee_uri"/>
					<xs:element ref="enrollment_group_uri"/>
					<xs:element name="authorization">
						<xs:annotation>
							<xs:documentation>Authentication/authorization credentials</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sender_uri" type="xs:anyURI">
						<xs:annotation>
							<xs:documentation>URN for service or source that raised event</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="submitted_timestamp" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation>UTC date and time when event occured</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EmployerPlanListType">
		<xs:annotation>
			<xs:documentation>SHOP employer-selected benefits model</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name" type="xs:string">
				<xs:annotation>
					<xs:documentation>Carrier-assigned text label for plan </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hbx_plan_id" type="xs:string">
				<xs:annotation>
					<xs:documentation>HBX-assigned plan identifier</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qhp_id" type="xs:string">
				<xs:annotation>
					<xs:documentation>HIOS plan identifier component + subcomponent</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="carrier_name" type="xs:string">
				<xs:annotation>
					<xs:documentation>Text label for plan provider</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="carrier_urn" type="xs:anyURI">
				<xs:annotation>
					<xs:documentation>HBX-assigned carrier identifier</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="policy_number" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Carrier-assigned policy number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="group_id" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Carrier-assigned employer group identifier</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="coverage_type" type="BenefitCoverageType">
				<xs:annotation>
					<xs:documentation>Benefit type, e.g. health or dental</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="original_effective_date" type="xs:date">
				<xs:annotation>
					<xs:documentation>Effective date coverage under this plan may begin</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="metal_level_code" type="PlanMetalLevelType">
				<xs:annotation>
					<xs:documentation>ACA actuarial level for plan</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EmployerBrokerType">
		<xs:annotation>
			<xs:documentation>Model for SHOP employer-designated broker</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="npn">
				<xs:annotation>
					<xs:documentation>Broker National Producer Number (NPN) identifier</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="tpa_ga_fein" type="FederalTaxIdType" minOccurs="0"/>
			<xs:element name="broker_name" type="xs:string">
				<xs:annotation>
					<xs:documentation>Broker or organization name in free-form text</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tpa_name" minOccurs="0">
				<xs:annotation>
					<xs:documentation>TPA or organization name in free-form text</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EmployerGroupType">
		<xs:annotation>
			<xs:documentation>Model for SHOP employer and designated benefit options</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="employer"/>
			<xs:element name="plans">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="plan" type="EmployerPlanListType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="employer_uri" type="xs:anyURI" substitutionGroup="resource_instance_uri">
		<xs:annotation>
			<xs:documentation>Dereferenceable identifier for employer instance, e.g. http://dchealthlink.com/api/services/employer/_id</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="employer_employee_uri" type="xs:anyURI" substitutionGroup="resource_instance_uri">
		<xs:annotation>
			<xs:documentation>Dereferenceable identifier for employee instance, e.g. http://dchealthlink.com/api/services/employer/_id/employee/_id</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="enrollment_group_uri" type="xs:anyURI" substitutionGroup="extended_resource_instance_uri">
		<xs:annotation>
			<xs:documentation>Dereferenceable identifier for enrollment group instance, e.g. http://dchealthlink.com/api/services/enrollment_group/_id</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="employer_employee" type="EmployerEmployeeType"/>
	<xs:simpleType name="EmployerEventNameType">
		<xs:annotation>
			<xs:documentation>Global event types for SHOP employer</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:anyURI">
			<xs:enumeration value="urn:openhbx:event:employer#created"/>
			<xs:enumeration value="urn:openhbx:event:employer#updated"/>
			<xs:enumeration value="urn:openhbx:event:employer#deleted"/>
			<xs:enumeration value="urn:openhbx:event:employer#terminated"/>
			<xs:enumeration value="urn:openhbx:event:employer#enrollment_opened"/>
			<xs:enumeration value="urn:openhbx:event:employer#enrollment_closed"/>
			<xs:enumeration value="urn:openhbx:event:employer#payment_initiated"/>
			<xs:enumeration value="urn:openhbx:event:employer#payment_allocated"/>
			<xs:enumeration value="urn:openhbx:event:employer#payment_remitted"/>
			<xs:enumeration value="urn:openhbx:event:employer#payment_nsf"/>
			<xs:enumeration value="urn:openhbx:event:employer#payment_refunded"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EmployerEmployeeEventNameType">
		<xs:annotation>
			<xs:documentation>Global event types for SHOP employee</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:anyURI">
			<xs:enumeration value="urn:openhbx:event:employer_employee#created"/>
			<xs:enumeration value="urn:openhbx:event:employer_employee#updated"/>
			<xs:enumeration value="urn:openhbx:event:employer_employee#deleted"/>
			<xs:enumeration value="urn:openhbx:event:employer_employee#qhp_selected"/>
			<xs:enumeration value="urn:openhbx:event:employer_employee#qhp_withdrawn"/>
			<xs:enumeration value="urn:openhbx:event:employer_employee#qhp_effectuated"/>
			<xs:enumeration value="urn:openhbx:event:employer_employee#qhp_canceled"/>
			<xs:enumeration value="urn:openhbx:event:employer_employee#qhp_terminated"/>
			<xs:enumeration value="urn:openhbx:event:employer_employee#sep_started"/>
			<xs:enumeration value="urn:openhbx:event:employer_employee#sep_ended"/>
			<xs:enumeration value="urn:openhbx:event:employer_employee#employment_terminated"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
