organization.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://openhbx.org/api/terms/1.0" targetNamespace="http://openhbx.org/api/terms/1.0" >
	<xs:include schemaLocation="common.xsd"/>
	<xs:include schemaLocation="individual.xsd"/>
	<xs:element name="organization">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="OrganizationType">
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="abbreviation" type="xs:string" minOccurs="0"/>
			<xs:element name="fein" type="FederalTaxIdType" minOccurs="0"/>
			<xs:element name="address" type="AddressType"/>
			<xs:element name="phone" type="PhoneType"/>
			<xs:element name="email" type="EmailType" minOccurs="0"/>
			<xs:element name="website" type="xs:anyURI" minOccurs="0"/>
			<xs:group ref="HbxIdentifierGroup"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CarrierType"/>
	<xs:complexType name="EmployerType">
		<xs:sequence>
			<xs:element name="demographics" type="OrganizationType"/>
			<xs:element name="carrier_employer_group_id" type="xs:string"/>
			<xs:element name="employees" type="EmployeeRoleType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BrokerType">
		<xs:sequence>
			<xs:element name="npn_id"/>
			<xs:element name="demographics" type="OrganizationType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HbxType">
		<xs:annotation>
			<xs:documentation>Health Benefit Exchange organization</xs:documentation>
		</xs:annotation>
	</xs:complexType>
	<xs:complexType name="CarrierReferenceType">
		<xs:sequence>
			<xs:element name="carrier_name" type="xs:string"/>
			<xs:group ref="HbxIdentifierGroup"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
