policy.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 (http://www.altova.com) by Dan Thomas (DC Department of Human Services DCAS Project) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://openhbx.org/api/terms/1.0" targetNamespace="http://openhbx.org/api/terms/1.0" elementFormDefault="qualified">
	<xs:include schemaLocation="common.xsd"/>
	<xs:include schemaLocation="employer.xsd"/>
	<xs:include schemaLocation="plan.xsd"/>
	<xs:complexType name="PolicyType">
		<xs:annotation>
			<xs:documentation>A contract for insurance coverage</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="HbxIdentifierGroup"/>
			<xs:element ref="broker" minOccurs="0"/>
			<xs:element name="enrollees">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="subscriber" type="EnrolleeType"/>
						<xs:element name="members" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="member" type="EnrolleeType" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="responsible_party" type="PersonType" minOccurs="0"/>
			<xs:element name="enrollment">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="plan" type="PlanLinkType"/>
						<xs:choice>
							<xs:element name="shop_market">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="employer" type="EmployerLinkType"/>
										<xs:element name="total_employer_responsible_amount" type="CurrencyType"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="individual_market">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="carrier_to_bill_flag" type="xs:boolean"/>
										<xs:element name="allocated_aptc_amount" type="CurrencyType"/>
										<xs:element name="elected_aptc_percent" type="xs:float"/>
										<xs:element name="applied_aptc_amount" type="CurrencyType"/>
										<xs:element name="other_payment_amount" type="CurrencyType"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:choice>
						<xs:element name="premium_amount_total"/>
						<xs:element name="total_responsible_amount" type="CurrencyType"/>
						<xs:element name="total_employer_responsible_amount" type="CurrencyType" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="policy_state"/>
			<xs:element name="request_submitted_timestamp" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>UTC date and time when benefit enrollment application is initiated by consumer</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:group ref="ResourceTimestampGroup"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PolicyLinkType">
		<xs:sequence>
			<xs:group ref="HbxIdentifierGroup"/>
			<xs:element ref="broker" minOccurs="0"/>
			<xs:element name="enrollees" type="EnrolleeType"/>
			<xs:element name="plan" type="PlanLinkType"/>
			<xs:element ref="employer" minOccurs="0"/>
			<xs:element ref="policy_state"/>
			<xs:group ref="ResourceTimestampGroup"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PolicyRequestType">
		<xs:annotation>
			<xs:documentation>Service call to Policy resource</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="header">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="ServiceHeaderType">
							<xs:sequence>
								<xs:element name="hbx_id" type="xs:string">
									<xs:annotation>
										<xs:documentation>CMS-assigned Health Benefit Exchange identifier, e.g. DC0</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="submitted_timestamp" type="xs:dateTime">
									<xs:annotation>
										<xs:documentation>UTC date and time when event occured</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="authorization" type="xs:string">
									<xs:annotation>
										<xs:documentation>Authentication/authorization credentials</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="message_id" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Value that uniqely identifies message</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="originating_service" type="xs:anyURI" minOccurs="0">
									<xs:annotation>
										<xs:documentation>The urn of the requesting service</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="reply_to" type="xs:anyURI" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Designates the consumer service urn endpoint where to transmit response</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="correlation_id" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Attribute to associate the current message with previous message ID or application-specifc ID</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="request">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="ServiceRequestType">
							<xs:sequence>
								<xs:element name="request_name" type="PolicyRequestNameType">
									<xs:annotation>
										<xs:documentation>Uniform Resource Name (URN) for this request e.g.; urn:openhbx:requests:v1:individual</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="parameters" type="xs:anyType" minOccurs="0"/>
								<xs:element name="metadata" type="ServiceMetadataType" minOccurs="0"/>
								<xs:element name="body" minOccurs="0">
									<xs:complexType>
										<xs:complexContent>
											<xs:restriction base="ServiceBodyType">
												<xs:sequence>
													<xs:element ref="policy"/>
												</xs:sequence>
											</xs:restriction>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="PolicyRequestNameType">
		<xs:annotation>
			<xs:documentation>Request methods suported by Policy resource</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:anyURI">
			<xs:enumeration value="urn:openhbx:requests:v1:policies"/>
			<xs:enumeration value="urn:openhbx:requests:v1:policies#by_id"/>
			<xs:enumeration value="urn:openhbx:requests:v1:policies#create"/>
			<xs:enumeration value="urn:openhbx:requests:v1:policies#update"/>
			<xs:enumeration value="urn:openhbx:requests:v1:policies#delete"/>
			<xs:enumeration value="urn:openhbx:requests:v1:policies#effectuate"/>
			<xs:enumeration value="urn:openhbx:requests:v1:policies#cancel"/>
			<xs:enumeration value="urn:openhbx:requests:v1:policies#terminate"/>
			<xs:enumeration value="urn:openhbx:requests:v1:policies#change_state"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PolicyEventType">
		<xs:annotation>
			<xs:documentation>Notification messages published about a Policy resource</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="header">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="ServiceHeaderType">
							<xs:sequence>
								<xs:element name="hbx_id" type="xs:string">
									<xs:annotation>
										<xs:documentation>CMS-assigned Health Benefit Exchange identifier, e.g. DC0</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="submitted_timestamp" type="xs:dateTime">
									<xs:annotation>
										<xs:documentation>UTC date and time when event occured</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="authorization" type="xs:string">
									<xs:annotation>
										<xs:documentation>Authentication/authorization credentials</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="message_id" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Value that uniqely identifies message</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="originating_service" type="xs:anyURI">
									<xs:annotation>
										<xs:documentation>The urn of the requesting service</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="correlation_id" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Attribute to associate the current message with previous message ID or application-specifc ID</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="event">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="ServiceEventType">
							<xs:sequence>
								<xs:element name="event_name" type="PolicyEventNameType"/>
								<xs:element ref="policy_uri"/>
								<xs:element name="body" minOccurs="0">
									<xs:complexType>
										<xs:complexContent>
											<xs:restriction base="ServiceBodyType">
												<xs:sequence>
													<xs:element ref="policy"/>
												</xs:sequence>
											</xs:restriction>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="PolicyEventNameType">
		<xs:annotation>
			<xs:documentation>Enumerated list of notification messages published for Policy resource</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:anyURI">
			<xs:enumeration value="urn:openhbx:events:v1:policies#created"/>
			<xs:enumeration value="urn:openhbx:events:v1:policies#updated"/>
			<xs:enumeration value="urn:openhbx:events:v1:policies#deleted"/>
			<xs:enumeration value="urn:openhbx:events:v1:policies#effectuated"/>
			<xs:enumeration value="urn:openhbx:events:v1:policies#canceled"/>
			<xs:enumeration value="urn:openhbx:events:v1:policies#terminated"/>
			<xs:enumeration value="urn:openhbx:events:v1:policies#state_changed"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PolicyResponseType">
		<xs:annotation>
			<xs:documentation>Response message for requests sent to the Policy resource</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="header">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="ServiceHeaderType">
							<xs:sequence>
								<xs:element name="hbx_id" type="xs:string">
									<xs:annotation>
										<xs:documentation>CMS-assigned Health Benefit Exchange identifier, e.g. DC0</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="submitted_timestamp" type="xs:dateTime">
									<xs:annotation>
										<xs:documentation>UTC date and time when event occured</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="status" type="ServiceStatusType">
									<xs:annotation>
										<xs:documentation>Indicate success or failure of a request to a service</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="correlation_id" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Attribute to associate the current message with previous message ID or application-specifc ID</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="metadata">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="ServiceMetadataType">
							<xs:sequence>
								<xs:element name="result_set" type="ServiceResultSetType"/>
							</xs:sequence>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="body">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="ServiceBodyType">
							<xs:sequence>
								<xs:element name="policies">
									<xs:complexType>
										<xs:sequence>
											<xs:element ref="policy" minOccurs="0" maxOccurs="unbounded"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EnrolleeType">
		<xs:annotation>
			<xs:documentation>An individual enrolled under a policy</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="individual">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="IndividualType">
							<xs:sequence>
								<xs:group ref="HbxIdentifierGroup"/>
								<xs:element name="person" type="PersonType"/>
								<xs:element name="relationships" type="IndividualRelationshipType"/>
								<xs:element name="hbx_roles" type="IndividualFacetType"/>
								<xs:element name="other_coverage" type="MinimumEssentialCoverageType" minOccurs="0"/>
								<xs:sequence>
									<xs:element name="created_at" type="xs:dateTime"/>
									<xs:element name="modified_at" type="xs:dateTime"/>
									<xs:element name="version" type="xs:integer" minOccurs="0"/>
								</xs:sequence>
							</xs:sequence>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element ref="employment_status"/>
			<xs:element name="physically_disabled_flag" type="xs:boolean" default="false"/>
			<xs:element name="benefit_status" type="BenefitStatusNameType" minOccurs="0"/>
			<xs:element name="benefit">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="premium_amount" type="CurrencyType"/>
						<xs:element name="begin_date" type="SimpleDateType"/>
						<xs:element name="end_date" type="SimpleDateType" minOccurs="0"/>
						<xs:element name="carrier_assigned_policy_id" type="xs:string" minOccurs="0"/>
						<xs:element name="carrier_assigned_enrollee_id" minOccurs="0"/>
						<xs:element name="coverage_level" type="CoverageLevelNameType" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="policy"/>
	<xs:element name="policy_uri" type="xs:anyURI" substitutionGroup="resource_instance_uri">
		<xs:annotation>
			<xs:documentation>Dereferenceable identifier for employer instance, e.g. http://dchealthlink.com/api/services/employer/_id</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:simpleType name="PolicyStateNameType">
		<xs:annotation>
			<xs:documentation>Enumerated list of the possible modes or status of a policy </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:anyURI">
			<xs:enumeration value="urn:openhbx:terms:v1:policy_state#submitted"/>
			<xs:enumeration value="urn:openhbx:terms:v1:policy_state#resubmitted"/>
			<xs:enumeration value="urn:openhbx:terms:v1:policy_state#effectuated"/>
			<xs:enumeration value="urn:openhbx:terms:v1:policy_state#carrier_rejected"/>
			<xs:enumeration value="urn:openhbx:terms:v1:policy_state#carrier_canceled"/>
			<xs:enumeration value="urn:openhbx:terms:v1:policy_state#carrier_terminated"/>
			<xs:enumeration value="urn:openhbx:terms:v1:policy_state#hbx_invalid"/>
			<xs:enumeration value="urn:openhbx:terms:v1:policy_state#hbx_rejected"/>
			<xs:enumeration value="urn:openhbx:terms:v1:policy_state#hbx_canceled"/>
			<xs:enumeration value="urn:openhbx:terms:v1:policy_state#hbx_terminated"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CoverageLevelNameType">
		<xs:annotation>
			<xs:documentation>Enumerated list of household member types included under a policy</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:anyURI">
			<xs:enumeration value="urn:openhbx:terms:v1:coverage_level#individual"/>
			<xs:enumeration value="urn:openhbx:terms:v1:coverage_level#family"/>
			<xs:enumeration value="urn:openhbx:terms:v1:coverage_level#employee_only"/>
			<xs:enumeration value="urn:openhbx:terms:v1:coverage_level#employee_and_spouse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EnrollmentStatusNameType">
		<xs:annotation>
			<xs:documentation>Enumerated list of process states for a policy</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:anyURI">
			<xs:enumeration value="urn:openhbx:terms:v1:enrollment_status#application_intake"/>
			<xs:enumeration value="urn:openhbx:terms:v1:enrollment_status#plan_shopping"/>
			<xs:enumeration value="urn:openhbx:terms:v1:enrollment_status#application_submitted"/>
			<xs:enumeration value="urn:openhbx:terms:v1:enrollment_status#maintenance_pending"/>
			<xs:enumeration value="urn:openhbx:terms:v1:enrollment_status#maintenance_submitted"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EmploymentStatusNameType">
		<xs:annotation>
			<xs:documentation>A subscriber's employment status at time of enrollment</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:anyURI">
			<xs:enumeration value="urn:openhbx:terms:v1:employment_status#active"/>
			<xs:enumeration value="urn:openhbx:terms:v1:employment_status#full_time"/>
			<xs:enumeration value="urn:openhbx:terms:v1:employment_status#part_time"/>
			<xs:enumeration value="urn:openhbx:terms:v1:employment_status#terminated"/>
			<xs:enumeration value="urn:openhbx:terms:v1:employment_status#leave_of_absence"/>
			<xs:enumeration value="urn:openhbx:terms:v1:employment_status#retired"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EntityNameType">
		<xs:restriction base="xs:anyURI">
			<xs:enumeration value="urn:openhbx:terms:v1:entity#case_manager"/>
			<xs:enumeration value="urn:openhbx:terms:v1:entity#key_person"/>
			<xs:enumeration value="urn:openhbx:terms:v1:entity#parent"/>
			<xs:enumeration value="urn:openhbx:terms:v1:entity#responsible_party"/>
			<xs:enumeration value="urn:openhbx:terms:v1:entity#guardian"/>
			<xs:enumeration value="urn:openhbx:terms:v1:entity#ex_spouse"/>
			<xs:enumeration value="urn:openhbx:terms:v1:entity#significant_other"/>
			<xs:enumeration value="urn:openhbx:terms:v1:entity#legal_representative"/>
			<xs:enumeration value="urn:openhbx:terms:v1:entity#power_of_attorney"/>
			<xs:enumeration value="urn:openhbx:terms:v1:entity#other_insured"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BenefitStatusNameType">
		<xs:annotation>
			<xs:documentation>Mode or status of activity for an enrollment</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:anyURI">
			<xs:enumeration value="urn:openhbx:terms:v1:benefit_status#active"/>
			<xs:enumeration value="urn:openhbx:terms:v1:benefit_status#cobra"/>
			<xs:enumeration value="urn:openhbx:terms:v1:benefit_status#surviving_insured"/>
			<xs:enumeration value="urn:openhbx:terms:v1:benefit_status#tefra"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MaritalStatusNameType">
		<xs:annotation>
			<xs:documentation>Matrimonial relationship state between two individuals</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:anyURI">
			<xs:enumeration value="urn:openhbx:terms:v1:marital_status#single"/>
			<xs:enumeration value="urn:openhbx:terms:v1:marital_status#married"/>
			<xs:enumeration value="urn:openhbx:terms:v1:marital_status#domestic_partners"/>
			<xs:enumeration value="urn:openhbx:terms:v1:marital_status#separated"/>
			<xs:enumeration value="urn:openhbx:terms:v1:marital_status#legally_seperated"/>
			<xs:enumeration value="urn:openhbx:terms:v1:marital_status#divorced"/>
			<xs:enumeration value="urn:openhbx:terms:v1:marital_status#widowed"/>
			<xs:enumeration value="urn:openhbx:terms:v1:marital_status#unknown"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="policy_state" type="PolicyStateNameType"/>
	<xs:element name="broker" type="BrokerLinkType"/>
</xs:schema>
