policy.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 (http://www.altova.com) by Dan Thomas (DC Department of Human Services DCAS Project) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://openhbx.org/api/terms/1.0" targetNamespace="http://openhbx.org/api/terms/1.0" elementFormDefault="qualified">
	<xs:include schemaLocation="common.xsd"/>
	<xs:include schemaLocation="employer.xsd"/>
	<xs:include schemaLocation="plan.xsd"/>
	<xs:complexType name="PolicyType">
		<xs:sequence>
			<xs:element name="id" type="IdentifierType">
				<xs:annotation>
					<xs:documentation>HBX-assigned Policy ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hbx_id" type="IdentifierType"/>
			<xs:element name="enrollees">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="enrollee" type="EnrolleeType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="carrier_assigned_member_id" type="xs:string"/>
			<xs:element name="carrier_assigned_policy_id" type="xs:string"/>
			<xs:element name="carrier_to_bill_flag" type="xs:boolean"/>
			<xs:element name="broker" type="BrokerLinkType" minOccurs="0"/>
			<xs:element name="premium_amount_total"/>
			<xs:element name="total_responsible_amount" type="CurrencyType"/>
			<xs:element name="total_employer_responsible_amount" type="CurrencyType" minOccurs="0"/>
			<xs:element name="plan" type="PlanReferenceType"/>
			<xs:choice>
				<xs:element name="shop_market">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="employer" type="EmployerLinkType"/>
							<xs:element name="total_employer_responsible_amount" type="CurrencyType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="individual_market">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="carrier_to_bill_flag" type="xs:boolean"/>
							<xs:element name="allocated_aptc_amount" type="CurrencyType"/>
							<xs:element name="elected_aptc_percent" type="xs:float"/>
							<xs:element name="applied_aptc_amount" type="CurrencyType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
			<xs:element name="submitted_timestamp" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>UTC date and time when event occured</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PolicyRequestType">
		<xs:sequence>
			<xs:element name="header">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="ServiceHeaderType">
							<xs:sequence>
								<xs:element name="hbx_id" type="xs:string">
									<xs:annotation>
										<xs:documentation>CMS-assigned Health Benefit Exchange identifier, e.g. DC0</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="submitted_timestamp" type="xs:dateTime">
									<xs:annotation>
										<xs:documentation>UTC date and time when event occured</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="authorization" type="xs:string">
									<xs:annotation>
										<xs:documentation>Authentication/authorization credentials</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="message_id" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Value that uniqely identifies message</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="originating_service" type="xs:anyURI" minOccurs="0">
									<xs:annotation>
										<xs:documentation>The urn of the requesting service</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="reply_to" type="xs:anyURI" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Designates the consumer service urn endpoint where to transmit response</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="correlation_id" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Attribute to associate the current message with previous message ID or application-specifc ID</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="request">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="ServiceRequestType">
							<xs:sequence>
								<xs:element name="request_name" type="PolicyRequestNameType">
									<xs:annotation>
										<xs:documentation>Uniform Resource Name (URN) for this request e.g.; urn:openhbx:requests:v1:individual</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="parameters" type="xs:anyType" minOccurs="0"/>
								<xs:element name="metadata" type="ServiceMetadataType" minOccurs="0"/>
								<xs:element name="body" minOccurs="0">
									<xs:complexType>
										<xs:complexContent>
											<xs:restriction base="ServiceBodyType">
												<xs:sequence>
													<xs:element ref="policy"/>
												</xs:sequence>
											</xs:restriction>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="PolicyRequestNameType">
		<xs:restriction base="xs:anyURI">
			<xs:enumeration value="urn:openhbx:requests:v1:policies"/>
			<xs:enumeration value="urn:openhbx:requests:v1:policies#by_id"/>
			<xs:enumeration value="urn:openhbx:requests:v1:policies#create"/>
			<xs:enumeration value="urn:openhbx:requests:v1:policies#update"/>
			<xs:enumeration value="urn:openhbx:requests:v1:policies#delete"/>
			<xs:enumeration value="urn:openhbx:requests:v1:policies#effectuate"/>
			<xs:enumeration value="urn:openhbx:requests:v1:policies#cancel"/>
			<xs:enumeration value="urn:openhbx:requests:v1:policies#terminate"/>
			<xs:enumeration value="urn:openhbx:requests:v1:policies#change_state"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PolicyEventType">
		<xs:annotation>
			<xs:documentation>Message structure for Policy event</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="header">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="ServiceHeaderType">
							<xs:sequence>
								<xs:element name="hbx_id" type="xs:string">
									<xs:annotation>
										<xs:documentation>CMS-assigned Health Benefit Exchange identifier, e.g. DC0</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="submitted_timestamp" type="xs:dateTime">
									<xs:annotation>
										<xs:documentation>UTC date and time when event occured</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="authorization" type="xs:string">
									<xs:annotation>
										<xs:documentation>Authentication/authorization credentials</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="message_id" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Value that uniqely identifies message</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="originating_service" type="xs:anyURI">
									<xs:annotation>
										<xs:documentation>The urn of the requesting service</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="correlation_id" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Attribute to associate the current message with previous message ID or application-specifc ID</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="event">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="ServiceEventType">
							<xs:sequence>
								<xs:element name="event_name" type="PolicyEventNameType"/>
								<xs:element ref="policy_uri"/>
								<xs:element name="body" minOccurs="0">
									<xs:complexType>
										<xs:complexContent>
											<xs:restriction base="ServiceBodyType">
												<xs:sequence>
													<xs:element ref="policy"/>
												</xs:sequence>
											</xs:restriction>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="PolicyEventNameType">
		<xs:restriction base="xs:anyURI">
			<xs:enumeration value="urn:openhbx:events:v1:policies#created"/>
			<xs:enumeration value="urn:openhbx:events:v1:policies#updated"/>
			<xs:enumeration value="urn:openhbx:events:v1:policies#deleted"/>
			<xs:enumeration value="urn:openhbx:requests:v1:policies#effectuated"/>
			<xs:enumeration value="urn:openhbx:requests:v1:policies#canceled"/>
			<xs:enumeration value="urn:openhbx:requests:v1:policies#terminated"/>
			<xs:enumeration value="urn:openhbx:events:v1:policies#state_changed"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PolicyResponseType">
		<xs:sequence>
			<xs:element name="header">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="ServiceHeaderType">
							<xs:sequence>
								<xs:element name="hbx_id" type="xs:string">
									<xs:annotation>
										<xs:documentation>CMS-assigned Health Benefit Exchange identifier, e.g. DC0</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="submitted_timestamp" type="xs:dateTime">
									<xs:annotation>
										<xs:documentation>UTC date and time when event occured</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="status" type="ServiceStatusType">
									<xs:annotation>
										<xs:documentation>Indicate success or failure of a request to a service</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="correlation_id" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Attribute to associate the current message with previous message ID or application-specifc ID</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="metadata">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="ServiceMetadataType">
							<xs:sequence>
								<xs:element name="result_set" type="ServiceResultSetType"/>
							</xs:sequence>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="body">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="ServiceBodyType">
							<xs:sequence>
								<xs:element name="policies">
									<xs:complexType>
										<xs:sequence>
											<xs:element ref="policy" minOccurs="0" maxOccurs="unbounded"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EnrolleeType">
		<xs:sequence>
			<xs:element name="enrollee">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="IndividualType">
							<xs:sequence>
								<xs:element name="id" type="IdentifierType"/>
								<xs:element name="person" type="PersonType"/>
								<xs:element name="relationships" type="IndividualRelationshipType"/>
								<xs:element name="hbx_roles" type="IndividualFacetType"/>
								<xs:element name="other_coverage" type="MinimumEssentialCoverageType" minOccurs="0"/>
							</xs:sequence>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element ref="employment_status"/>
			<xs:element name="physically_disabled_flag" type="xs:boolean" default="false"/>
			<xs:element name="coverage_status" type="xs:string"/>
			<xs:element name="benefit_status" type="BenefitStatusNameType" minOccurs="0"/>
			<xs:element name="coverage">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="begin_date" type="SimpleDateType"/>
						<xs:element name="end_date" type="CurrencyType" minOccurs="0"/>
						<xs:element name="premium_amount" type="CurrencyType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="policy"/>
	<xs:element name="policy_uri" type="xs:anyURI" substitutionGroup="resource_instance_uri">
		<xs:annotation>
			<xs:documentation>Dereferenceable identifier for employer instance, e.g. http://dchealthlink.com/api/services/employer/_id</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
